fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
sqlalchemy
psycopg2-binary
python-multipart
pydantic
email-validator
openai

numpy<2
torch==2.1.0+cpu
transformers==4.37.2
sentence-transformers==2.6.1
pgvector